# JetBrains IDE directories
cmake-build-debug/
cmake-build-release/
.idea/

# Make directories
bin/
build/
data/

# Binary files
*.o
run
vr

# Image files
*.jpg
*.png

# Video files
*.avi
*.mp4
*.mkv
